/**
 * Arxmin
 *
 * SASS Document - ~/scss/debug.scss - Debug
 *
 * @author Daniel Sum <daniel@cherrypulp.com>
 *
 */

.kint {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    // z-index: 2000;
}
