/**
 * Arxmin
 *
 * SASS Document - ~/scss/forms.scss - Forms
 *
 * @author Daniel Sum <daniel@cherrypulp.com>
 *
 */

.form-group {
    @include clearfix();

    &.has-error {
        .form-control-feedback {
            display: block;
            right: 15px;
            top: 0;
        }
    }

    .form-control-feedback {
        display: none;
    }

    &.disabled {
        input, textarea {
            @extend .disabled;
        }

        .upload {
            @include opacity(.5);
            pointer-events: none;

            .upload-drop-placeholder {
                cursor: progress;
            }
        }
    }
}

.form-control-inline {
    display: inline-block;
    text-align: center;
    width: auto;

    &[type="number"] {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: textfield;
            margin: 0;
        }
    }
}

.form-control {
    &.busy {
       // background-color: @state-info-bg !important;
       background-image: url(/assets/img/loader.gif);
       background-position: 98% 50%;
       background-repeat: no-repeat;
       border-color: $state-info-text !important;
       color: $state-info-text !important;
       @include transition(none);
    }
}

/* UI Select
 ---------------------------------------------- */

.ui-select-multiple.ui-select-bootstrap {
    height: 34px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.ui-select-match-item.btn {
    background-color: $brand-info;
    border-radius: 2px;
    color: #fff;
    margin: 2px 0 2px;
    padding: 3px 5px;
}


/* UI Datepicker
 ---------------------------------------------- */

.ui-datepicker {
    .glyphicon-chevron-left {
        @extend .fa-chevron-left;
    }

    .glyphicon-chevron-right {
        @extend .fa-chevron-right;
    }
}

/* Bootstrap Select
 ---------------------------------------------- */

.nya-bs-select {
    &.disabled {
        @include opacity(0.5);
        pointer-events: none;
    }

    .dropdown-header {
        color: $gray-light;
        font-weight: bold;
        text-transform: uppercase;
    }
}
