/**
 * Arxmin
 *
 * SASS Document - ~/scss/components/loader.scss - Loader component (angular module loader)
 *
 * @author Daniel Sum <daniel@cherrypulp.com>
 *
 */

.loader {
    display: block;
    min-height: 80px;
    position: relative;
    text-align: center;

    .loader-inner {
        color: white;
        margin-top: 30px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
    }
}

.loader-fixed {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
}
