/**
 * Arxmin
 *
 * SASS Document - ~/scss/components/navbar.scss - Navbar
 *
 * @author Daniel Sum <daniel@cherrypulp.com>
 *
 */

/* Helpers
---------------------------------------------- */
.navbar {
    &.affix {
        @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
        left: 0;
        position: fixed;
        right: 0;
    }

    .navbar-header {
        .navbar-brand {
            padding: 7px;
        }

        .navbar-toggle {
            border-color: $gray-light;
            .icon-bar {
                background-color: $gray-light;
            }
        }
    }

    .navbar-collapse {
        .navbar-brand {
            margin-left: 0;
            padding: 5px 10px 0;
        }

        .navbar-center {
            @media (min-width: $screen-sm){
                display: table;
                float:none;
                margin: 0 auto;
                table-layout: fixed;
            }
        }

        .navbar-right {
            margin-right: 0;

            li {
                .btn {
                    margin-left: 12px;
                }
            }
        }

        .nav-justified {
            padding-top: 7px;

            @media (max-width: $screen-sm){
                margin-left: -15px;
                margin-right: -15px;
                > li > a {
                    margin-bottom: 0;
                    text-align: left;
                }
            }
        }
    }

    .navbar-nav {
        > li {
            a, button {
                &.btn {
                    // Vertically center in expanded, horizontal navbar
                    @include navbar-vertical-align($input-height-base);
                    padding: 6px 12px;
                }
            }
        }

        .open {
            .dropdown-menu {
                border: 0;
            }
        }
    }

    .navbar-header {
        .navbar-brand {
            text-align: center;
        }

        @media (min-width: $screen-sm-min) {
            width: percentage((3 / $grid-columns));

            .navbar-brand {
                width: 100%;
            }
        }

        @media (min-width: $screen-lg-min) {
            width: percentage((2 / $grid-columns));
        }
    }

    .label {
        display: inline-block;
        @include box-shadow(0 0 1px rgba(0, 0, 0, .6));
        @include navbar-vertical-align(44);
        margin-left: 10px;
    }

    .btn-link {
        &:hover, &:focus {
            color: $link-hover-color;
        }
    }
}

.navbar-absolute-top {
    border-radius: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $zindex-navbar;
}

.navbar-transparent {
    background-color: transparent;
    @extend .base-transition;
    border: 0;

    &.affix {
        background-color: #FFF;

        .navbar-nav > li > a, .navbar-brand {
            color: $navbar-default-color;
        }
    }

    .navbar-nav > li > a, .navbar-brand {
        color: #fff;
    }
}
