/* ======================================================
*  Pricing table
*
*  - header
*  - header affix
*  - content
*  - content for private (background color changes)
*
*  =====================================================*/

/* Header
---------------------------------------------- */
.pricing-table-header {
    width: 100%;
    z-index: 1000;

    .price {
        background-color: lighten($gray-light, 5%);
        border-left: 1px solid #fff;
        color: #fff;
        padding-bottom: 10px;
        text-align: center;
        @include transition(background-color 120ms ease-in-out);

        &:first-child {
            border-left: none;
        }

        .number {
            font-size: 30px;
        }

        p {
            color: #fff;
        }
    }

    .selected {
        background-color: $brand-primary;
    }

    p, h2 {
        margin: 0;
    }

    h2 {
        margin-top: 5px;
    }

    .col-sm-7 {
        padding-left: 3px;
    }

    .btn-icon {
        display: block;
        margin: 0 auto;
        padding: 5px 8px;

        @media (min-width: $screen-md-min) {
            display: inline-block;
        }
    }
}

/* Header affix
---------------------------------------------- */
.pricing-table-header.affix {
    top: $navbar-height;
    @include transition(background-color 120ms ease-in-out);

    h2 {
        color: #fff;
        padding-top: 10px;
    }

    h3, p {
        display: none;
    }

    table {
        background-color: lighten($gray-light, 5%);
    }

    .selected {
        background-color: $brand-primary;
    }

    .price:first-child {
        border-left: 1px solid #fff;
    }

    .price:last-child {
        border-right: 1px solid #fff;
    }

    .price p {
        display: block;
    }
}
.pricing-table-header.affix-bottom { position: relative; }

body.admin-bar .pricing-table-header.affix {
    top: $navbar-height + 32px;
}

body.private .pricing-table-header.affix {
    left: percentage(3 / $grid-columns);
    margin-left: 15px;
    right: 15px;
    top: $navbar-height;
    width: auto;


    @media (min-width: $screen-sm-min) {
        left: percentage(3 / $grid-columns);
    }

    @media (min-width: $screen-lg-min) {
        left: percentage(2 / $grid-columns);
    }
}

.table-pricing-header {
    margin-bottom: 0;

    tbody, thead, tfoot {
        tr td {
            border: 0;
        }
    }
}

.table-pricing, .table-pricing-header {
    table-layout: fixed;
    width: 100%;

    td {
        // display: inline-block !important;
        width: 20%;

        &.price {
            width: 20%;
        }

        &.description {
            width: 40%;
        }
    }
}

/* Content
---------------------------------------------- */
.table-pricing {
    .selected {
        background-color: darken($brand-primary, 5%) !important;
    }

    .highlighted {
        background-color: lighten($brand-primary, 45%) !important;
        color: $gray-darker !important;

        .fa {
            color: $gray-darker !important;
        }
    }

    > tbody, tfoot {
        > tr {
            > td {
                background-color: #F2F2F2;
                border-color: #fff;
                border-left: 1px solid #fff;
                color: $gray;
                padding: 12px 20px;
                text-align: center;
                @include transition(background-color 120ms ease-in-out);
                vertical-align: middle;

                &:first-child {
                    border-left: none;
                    text-align: left;
                }

                > div {
                    display: inline-block;
                }

                .fa-minus,
                .fa-check,
                .fa-times {
                    color: $gray-light;
                    vertical-align: top;
                }

                p {
                    margin: 0;
                }

                .tooltip-info {
                    padding: 0;

                    &:hover {}
                }
            }

            &.table-section {
                background-color: $gray-light;
                font-size: 16px;
                height: 45px;
                text-transform: uppercase;

                > td {
                    background-color: $gray-light;
                    border-color: $gray-light;
                    color: #fff;
                    padding-top: 12px;

                    .tooltip-info {
                        background-color: #fff;
                        color: $gray-light;
                        padding: 0;

                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }

                p {
                    color: #fff;
                    margin-bottom: 0;
                }
            }
        }
    }

    .input-group {
        display: table;
        width: 100px;

        input.form-control {
            border-color: $input-border;
            text-align: center;

            &:focus {
                border-top-color: #fff;
                border-bottom-color: #fff;
                border-left-color: #F2F2F2;
                border-right-color: #F2F2F2;
            }
        }
    }
}

/* Content Private
---------------------------------------------- */
// body.private {
//     .table-pricing {
//         > tbody > tr {
//             > td {
//                 background-color: #fff;
//                 border-color: lighten($gray-light, 20%);
//             }

//             &.table-section > td {
//                 background-color: $gray-light;
//                 border-color: $gray-light;
//             }
//         }

//         .input-group {
//             .input-group-btn > .btn {
//                 border-color: $gray-light;

//                 &:hover {
//                     border-color: $brand-primary;
//                 }
//             }

//             input {
//                 border-color: $gray-light;
//             }
//         }
//     }
// }

.tooltip-info {
    background-color: $gray-light;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 14px;
    line-height: 16px;
    margin-left: 10px;
    text-align: center;
    width: 14px;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}












