// General
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Titles
h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

// Paragraphs
p {
  a { // Increase clickable area on links / http://joshnh.com/2012/09/06/increasing-the-clickable-area-of-inline-links/
    margin: -.5em;
    padding: .5em;
    position: relative;
  }
}

a, button, .btn {
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:hover, &:focus, &:active {
    outline: none;
  }
}

// Lists
ul {
  li {}
}

ol {
  li {}
}

dl {
  dt {}
  dd {}
}

// Quotes
blockquote {
  &:before {}

  &.speech-bubble {
    $bubble-bg-color: #ddd;
    background-color: $bubble-bg-color;
    border: none;
    position: relative;

    &:after {
      bottom: -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $bubble-bg-color;
      content: "";
      display: block;
      left: 40px;
      height: 0;
      position: absolute;
      width: 0;
    }
  }
}

// Tables
table {
  caption {}

  thead {
    th {}
  }

  tbody {
    td {}
  }
}

// Inline elements
abbr {}

address {}

b {}

cite {}

code {}

del {}

dfn {}

em {}

ins {}

mark {}

pre {}

strong {}

small {}

sup {}

sub {}

// Misc

hr {
  margin-bottom: 50px;
  margin-top: 50px;
}