/**
 * Arxmin
 *
 * SASS Document - ~/scss/components/upload.scss - Upload
 *
 * @author Daniel Sum <daniel@cherrypulp.com>
 *
 */

.upload {
    background-color: #fff;
    @include clearfix();
    display: block;
    overflow: hidden;
    padding: 5px;
    position: relative;

    &.collapse.in {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    // @see http://andrew.hedges.name/experiments/aspect_ratio/ + 10px
    &.format-screen {
        width: 366px;
    }
    &.format-square {
        width: 210px;
    }

    .upload-drop-placeholder {
        background-color: #fff;
        border: 1px dashed $gray-light;
        border-radius: 5px;
        cursor: pointer;
        display: table;
        height: 200px;
        min-width: 200px;
        text-align: center;
        width: 100%;

        &:hover {
            background-color: $gray-lighter;

            .upload-drop-label {
                color: $gray-dark;
            }
        }

        .upload-drop-label {
            color: $gray;
            display: table-cell;
            font-size: 14px;
            font-weight: bold;
            vertical-align: middle;
            @include transition(color 0.2s ease-in-out);

            &.shake {
                color: $brand-danger;
            }

            .fa {
                display: block;
                font-size: 2em;
                margin: 0 auto;
            }
        }
    }

    .upload-preview {
        background-color: #fff;
        display: inline-block;
        position: relative;
        z-index: 1;

        img {
            display: inline-block;
        }
    }

    .upload-toolbar {
        position: absolute;
        right: 8px;
        top: 8px;
        z-index: 1;

        .btn {
            border-radius: 50%;
            padding: 5px 6px;
        }
    }

    .upload-queue {
        margin-top: 10px;
        width: 100%;

        @extend .table;
        @extend .table-striped;

        .progress {
            margin: 5px 0 0;
            min-width: 200px;
        }
    }
}

.has-error {
    .upload {
        .upload-drop-placeholder {
            background-color: $state-danger-bg;
            border-color: $state-danger-text;

            .upload-drop-label {
                color: $state-danger-text;
            }
        }
    }
}
