/**
 * Arxmin
 *
 * SASS Document - ~/scss/components/vcard.scss - VCard
 *
 * @author Daniel Sum <daniel@cherrypulp.com>
 *
 */

.vcard {
    &.vcard-horizontal {
        @include clearfix;
        position: relative;

        .photo {
            float: left;
            margin-right: 10px;
        }

        .vcard-action {
            bottom: 0;
            position: absolute;
            right: 0;
            top: 0;

            .vertical-align {
                height: 100%;
            }
        }
    }
}
