@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #505458;
    margin: 10px 0;
}

h1{
    line-height: 43px
}
h2{
    line-height: 35px
}
h3{
    line-height: 30px
}
h4{
    line-height: 22px
}
h3 small, h4 small, h5 small {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  font-weight: 300;
  color:#505458
}

h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
  padding-bottom: 10px;
}

a {
  text-shadow: none !important;
  color: #0d638f;
  transition: color 0.1s linear 0s,background-color 0.1s linear 0s  !important;
}

a,a:focus, a:hover, a:active {
  outline: 0;
  text-decoration:none;
}
ul > li {
    padding-left:6px;
    line-height:20px;
}
address{
    margin-bottom:0px;
}
blockquote{
     padding: 0 0 0 18px;
      border-left: 5px solid #EEEEEE;
}
blockquote p{
    font-size:16px
}
blockquote small:before{
     content: "";
}
blockquote.pull-right small:after{
    content: "";
}
blockquote small{
    line-height: 29px;
    color:#8b91a0;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE;
}

.normal{
    font-weight:normal;
}

.semi-bold{
    font-weight:600;
}

.bold{
    font-weight:bold;
}

.all-caps{
    text-transform:uppercase;
}
.light{
    font-weight:300 !important;
}

.small-text{
    font-size:12px !important;
}

.normal-text{
    font-size:13px !important;
}

.large-text{
    font-size:15px !important;
}

.center-text{
    text-align:center !important;
}
.muted {
    color:#b6bfc5;
}

.text-black {
  color: #1b1e24 !important;
}

.text-white {
  color: #fff !important;
}

.text-success{
    color:#0AA699 !important;
}
.text-info{
    color:#0090D9 !important;
}
.text-warning{
    color:#fbb05e !important;
}
.text-error{
    color:#F35958 !important;
}

.text-right{
    text-align:right !important;
}

.text-left{
    text-align:left !important;
}

.text-center{
    text-align:center !important;
}

