<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../dist/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="http://code.famo.us/famous-angular/latest/famous-angular.min.css" rel="stylesheet" type="text/css"/>
    <link href="../dist/css/arxmin.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-shim.min.js"></script>
    <![endif]-->
    <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
        display: none !important;
    }</style>
</head>
<body class="private page-admin">

<div id="page-container">
    <nav class="navbar navbar-default navbar-fixed-top" id="page-header">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img class="animated fadeIn" src="../dist/img/logo-b.png" height="50px" alt="" />
            </a>
            <button type="button" class="navbar-toggle" ng-click="$parent.displaySidebar = !$parent.displaySidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right animated fadeIn">
                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" dropdown-toggle>
                        <span class="visible-xs"><i class="fa fa-fw fa-user"></i></span>
                        <span class="hidden-xs">admin2 admin <span class="caret"></span></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://local./private/edit-user">Preferences</a>
                        </li>
                        <li>
                            <a href="/user/logout">Se déconnecter</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
    <div class="row">
        <section class="content container-fluid animated fadeIn vert-offset-top-3" id="page-content">
            <ul class="breadcrumb">
                <li>
                    <p><i class="fa fa-home"></i></p>
                </li>
                <li><a href="#" class="active">Tiles example</a></li>
            </ul>
            <div class="page-title">
                <h3><i class="fa fa-angle-right"></i> Tiles</h3>
            </div>

            <div class="row" ng-controller="isotopeController as isotope" ng-cloak>

                <div class="isotope-container" isotope-container="isotope-container" ng-show="items.length" ng-cloak>

                    <div class="panel isotope-item col-xs-6 col-md-4" ng-repeat="(key, item) in items track by $index"  isotope-item="">
                        <div class="products-item fadeIn animated">
                            <a ng-show="item.thumb" class="thumbnail" href="{{ item.url }}">
                                <img class="news-item-thumb" ng-src="{{ item.thumb }}" alt="{{ item.title }}" />
                            </a>

                            <div class="thumbnail-caption">
                                <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
                                <a href="{{ item.url }}">Read more</a>
                                <a class="pull-right" href="{{ item.url_download }}"><i class="fa fa-download"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-center fadeIn animated" ng-show="!loading && !items.length">
                    No results
                </div>

                <div class="text-center fadeIn animated" ng-show="loading">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- CONFIG EXAMPLE -->
<script src="config.js"></script>
<script>
    /**
     * Inject your items here
     *
     * @type {{url: string, title: string, thumb: string}[]}
     */
    window.__app.items = [
        {
            url : "test",
            title : "test",
            thumb : "http://farm5.static.flickr.com/4089/5013040075_bac12ff74e.jpg"
        },
        {
            url : "test",
            title : "test",
            thumb : "http://www.online-image-editor.com//styles/2014/images/example_image.png"
        },

        {
            url : "test",
            title : "test",
            thumb : "http://farm5.static.flickr.com/4089/5013040075_bac12ff74e.jpg"
        },
        {
            url : "test",
            title : "test",
            thumb : "http://farm5.static.flickr.com/4089/5013040075_bac12ff74e.jpg"
        },
        {
            url : "test",
            title : "test",
            thumb : "http://www.online-image-editor.com//styles/2014/images/example_image.png"
        },
        {
            url : "test",
            title : "test",
            thumb : "http://farm5.static.flickr.com/4089/5013040075_bac12ff74e.jpg"
        }
    ];
</script>
<script data-main="../dist/js/components/isotope" src="../dist/js/vendor/require.js"></script>
</body>
</html>