<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <link rel='favicon' href='favicon.ico'/>
    <meta charset="utf-8"/>
    <title>Masonry Example</title>
    <link rel="stylesheet" href="../dist/css/arxmin.css" media="screen"/>
    <link rel="stylesheet" href="css/style.css" media="screen"/>
</head>
<body class="layout-admin">
<div id="page-container">
    <div class="navbar navbar-default navbar-fixed-top" id="page-header">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img class="animated fadeIn" src="../dist/img/logo-b.png" height="50px" alt="" />
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse">
            <ul id="navbar" class="nav navbar-nav navbar-right animated fadeIn">
                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" dropdown-toggle>
                        <span class="visible-xs"><i class="fa fa-fw fa-user"></i></span>
                        <span class="hidden-xs">admin2 admin <span class="caret"></span></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://local./private/edit-user">Preferences</a>
                        </li>
                        <li>
                            <a href="/user/logout">Se déconnecter</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /#page-header -->

    <div class="row" id="page-wrapper">

        <div id="page-sidebar" class="side-menu-container col-sm-2">
            <div class="sidebar sidebar-fixed-left navbar-spy" id="page-sidebar" ng-controller="SidebarController as sidebar" ng-cloak>
                <ul class="nav nav-pills nav-stacked animated fadeIn">
                    <li ng-repeat="item in sidebar.menu track by $index" ng-class="{true: 'active'}[sidebar.isActive(item)]">
                        <a ng-href="{{ item.link }}" ng-if="item.link" target="{{ item.target || '_self' }}">
                            <i class="fa {{ item.ico }} fa-lg fa-fw" ng-if="item.ico"></i>
                            <span>{{ item.name }}</span>
                        </a>
                        <button class="toggle-collapse" type="button" ng-init="item.isMenuCollapsed = !sidebar.isActive(item)"
                                ng-if="item.children && item.link"
                                ng-click="item.isMenuCollapsed = !item.isMenuCollapsed">
                            <span ng-show="item.isMenuCollapsed">+</span>
                            <span ng-show="!item.isMenuCollapsed">-</span>
                        </button>

                        <a href="#" ng-init="item.isMenuCollapsed = !sidebar.isActive(item)" ng-if="item.children && !item.link"
                           ng-click="item.isMenuCollapsed = !item.isMenuCollapsed">
                            <i class="fa {{ item.ico }} fa-lg fa-fw" ng-if="item.ico"></i>
                            <span>{{ item.name }}</span>

                            <span class="pull-right" ng-show="item.isMenuCollapsed">+</span>
                            <span class="pull-right" ng-show="!item.isMenuCollapsed">-</span>
                        </a>

                        <ul class="nav" collapse="item.isMenuCollapsed" ng-if="item.children">
                            <li ng-repeat="child in item.children" ng-class="{true: 'active'}[sidebar.isActive(child)]">
                                <a ng-href="{{ child.link }}">
                                    <i class="fa {{ child.ico }} fa-fw" ng-if="child.ico"></i>
                                    <span>{{ child.name }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /#page-sidebar -->

        <div id="page-content" class="content container-fluid animated fadeIn col-sm-offset-2 vert-offset-top-5">

            <div class="blok-masonry">

                <div class="item col3 posters">
                    <a rel="posters" href="img/positronics_06.jpg"><img
                            alt="1/1<br />From my solo show 'Positronics', 2013. Ink on paper"
                            src="img/positronics_06_thumb.jpg"/>Men Walking</a>
                </div>

                <!--Printed Pages / Jul 2013 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/printedpages_01.jpg"><img
                            alt="1/1<br />Cover for Printed Pages, published by It's Nice That."
                            src="img/printedpages_01_thumb.jpg"/>Printed Pages</a>
                </div>


                <!--Positronics / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/positronics_05.jpg"><img
                            alt="1/1<br />From my solo show 'Positronics', 2013. Ink on paper"
                            src="img/positronics_05_thumb.jpg"/>Women Walking</a>
                </div>


                <!-- NehruDoom / Jan 2013 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/nehrudoom_01.jpg"><img
                            alt="1/1<br />Bishop Nehru and DOOM, special anouncement of collaboration from Lex Records."
                            src="img/nehrudoom_01_thumb.jpg"/>Lex Records</a>
                </div>


                <!--Prints / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/hands_01.jpg"><img
                            alt="1/1<br />Limited edtition of 20 screen prints. Contact me for availability."
                            src="img/hands_01_thumb.jpg"/>Hands</a>
                </div>


                <!--Prints / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/heads_01.jpg"><img
                            alt="1/1<br />Limited edtition of 20 screen prints. Contact me for availability."
                            src="img/heads_01_thumb.jpg"/>Heads</a>
                </div>


                <!--Positronics / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/positronics_04.jpg"><img
                            alt="1/1<br />From my solo show 'Positronics', 2013. Ink on paper"
                            src="img/positronics_04_thumb.jpg"/>Greeting</a>
                </div>


                <!--Norrona / May 2012 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/earlwillisbeal_01.jpg"><img
                            alt="1/1<br />Drawing of Earl Willis Beal for a music article in Norrona Magazine."
                            src="img/earlwillisbeal_01_thumb.jpg"/>Norrona Magazine</a>
                </div>


                <!--Positronics / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/positronics_07.jpg"><img
                            alt="1/1<br />From my solo show 'Positronics', 2013. Ink on paper"
                            src="img/positronics_07_thumb.jpg"/>Stand Up</a>
                </div>


                <!--New York Times Sunday Book Review / Jul 2013 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/timescover_01.jpg"><img
                            alt="1/1<br />Cover for The NY Times Sunday Book Review." src="img/timescover_01_thumb.jpg"/>The New
                        York Times</a>
                </div>


                <!--Positronics / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/positronics_08.jpg"><img
                            alt="1/1<br />From my solo show 'Positronics', 2013. Ink on paper"
                            src="img/positronics_08_thumb.jpg"/>Coffin</a>
                </div>


                <!--Positronics / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/positronics_10.jpg"><img
                            alt="1/1<br />From my solo show 'Positronics', 2013. Ink on paper"
                            src="img/positronics_10_thumb.jpg"/>Mirror</a>
                </div>


                <!--New York Times Sunday Book Review / Jul 2013 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/parker_01.jpg"><img
                            alt="1/1<br />'I Wear the Black Hat' by Chuck Klosterman, for The NY Times Sunday Book Review."
                            src="img/parker_01_thumb.jpg"/>The New York Times</a>
                </div>


                <!--Positronics / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/positronics_02.jpg"><img
                            alt="1/1<br />From my solo show 'Positronics', 2013. Ink on paper"
                            src="img/positronics_02_thumb.jpg"/>Breakdance I</a>
                </div>


                <!--New York Times Sunday Book Review / Jun 2013 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/joyland_01.jpg"><img
                            alt="1/1<br />'Joyland' by Stephen King, for The NY Times Sunday Book Review."
                            src="img/joyland_01_thumb.jpg"/>The New York Times</a>
                </div>


                <!--Positronics / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/positronics_01.jpg"><img
                            alt="1/1<br />From my solo show 'Positronics', 2013. Ink on paper"
                            src="img/positronics_01_thumb.jpg"/>Breakdance II</a>
                </div>


                <!-- Prints / Apr 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/runners_01.jpg"><img
                            alt="1/2<br />Limited edtition of 20 screen prints. Contact me for availability."
                            src="img/runners_01_thumb.jpg"/>Runners I</a>
                </div>


                <!-- Prints / Apr 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/runners_02.jpg"><img
                            alt="1/2<br />Limited edtition of 20 screen prints. Contact me for availability."
                            src="img/runners_02_thumb.jpg"/>Runners II</a>
                </div>


                <!--New York Times Sunday Book Review / Jul 2013 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/redmoon_01.jpg"><img
                            alt="1/1<br />'Red Moon' by Benjamin Percy, for The NY Times Sunday Book Review."
                            src="img/redmoon_01_thumb.jpg"/>The New York Times</a>
                </div>


                <!--Positronics / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/positronics_03.jpg"><img
                            alt="1/1<br />From my solo show 'Positronics', 2013. Ink on paper"
                            src="img/positronics_03_thumb.jpg"/>Noodles</a>
                </div>


                <!--Positronics / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/positronics_09.jpg"><img
                            alt="1/1<br />From my solo show 'Positronics', 2013. Ink on paper"
                            src="img/positronics_09_thumb.jpg"/>Blue Bottle</a>
                </div>


                <!-- Doom / Jan 2013 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/doom_01.jpg"><img
                            alt="1/1<br />Doom, for Frank 151. Also used for the free track stream of 'Doomsayer', thanks to Jeff Jank from Stones Throw."
                            src="img/doom_01_thumb.jpg"/>Frank 151/Doom</a>
                </div>


                <!--Positronics / Jul 2013 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/positronics_11.jpg"><img
                            alt="1/1<br />From my solo show 'Positronics', 2013. Ink on paper"
                            src="img/positronics_11_thumb.jpg"/>Orange Glass</a>
                </div>


                <!-- HTP / Apr 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="http://www.kristianhammerstad.com/img/theyarecoming.jpg"><img
                            alt="1/2<br />Limited edtition of 30 screen prints, available from Gallery Steinsland Berliner in Stockholm."
                            src="img/theyarecoming_01_thumb.jpg"/>Hang The Prints</a>
                </div>


                <!-- HTP / Apr 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/runaway_01.jpg"><img
                            alt="1/2<br />Limited edtition of 30 screen prints, available from Gallery Steinsland Berliner in Stockholm."
                            src="img/runaway_01_thumb.jpg"/>Hang The Prints</a>
                </div>


                <!--New York Times Sunday Book Review / Jan 2013 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/forrester_01.jpg"><img
                            alt="1/1<br />'Black Heart on the Appalachian Trail', by T.J. Forrester, for The NY Times Sunday Book Review."
                            src="img/forrester_01_thumb.jpg"/>The New York Times</a>
                </div>


                <!--New York Times Sunday Review / Nov 2012 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/valium_01.jpg"><img
                            alt="1/1<br />About the broad cultural addiction to Valium, for The NY Times Sunday Review."
                            src="img/valium_01_thumb.jpg"/>The New York Times</a>
                </div>


                <!--New York Times Blog / Nov 2012 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/flu_01.jpg"><img
                            alt="1/1<br />Flu season health precautions, for the NY Times Anxiety Blog."
                            src="img/flu_01_thumb.jpg"/>The New York Times</a>
                </div>


                <!--New York Times / Jun 2012 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/nyoped1_01.jpg"><img
                            alt="1/1<br />Op-Ed illustration for The New York Times. Cancer-stricken New York Judge's plea for medicinal cannabis."
                            src="img/nyoped1_01_thumb.jpg"/>The New York Times</a>
                </div>


                <!--New Yorker / May 2012 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/misslora_01.jpg"><img
                            alt="1/1<br />Fiction Illustration for the short story 'Miss Lora' by Junot Diaz."
                            src="img/misslora_01_thumb.jpg"/>The New Yorker</a>
                </div>


                <!-- Kryp / May 2012 -->
                <div class="item col3 books">
                    <a rel="books" href="img/kryp_01.jpg"><img
                            alt="1/4<br />My first published comic book. Published in Norwegian only, by Jippi Comics. Click to view some random pages."
                            src="img/kryp_01_thumb.jpg"/>Kryp</a>
                    <a rel="books" href="img/kryp_02.jpg"
                       alt="2/4<br />My first published comic book. Published in Norwegian only, by Jippi Comics. Click to view some random pages."></a>
                    <a rel="books" href="img/kryp_03.jpg"
                       alt="2/4<br />My first published comic book. Published in Norwegian only, by Jippi Comics. Click to view some random pages."></a>
                    <a rel="books" href="img/kryp_04.jpg"
                       alt="2/4<br />My first published comic book. Published in Norwegian only, by Jippi Comics. Click to view some random pages."></a>
                </div>


                <!--BAPE 1 / Jan 2012 -->
                <div class="item col3 otherthings">
                    <a rel="otherthings" href="img/bapemens_01.jpg"><img
                            alt="1/1<br />Commissioned by A Bathing Ape for their A/W collection."
                            src="img/bapemens_01_thumb.jpg"/>A Bathing Ape</a>
                </div>


                <!--BAPE 2 / Jan 2012 -->
                <div class="item col3 otherthings">
                    <a rel="otherthings" href="img/bapewomens_01.jpg"><img
                            alt="1/1<br />Commissioned by A Bathing Ape for their A/W collection."
                            src="img/bapewomens_01_thumb.jpg"/>A Bathing Ape</a>
                </div>


                <!--Bokvennen / Jan 2012 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/livingordead_01.jpg"><img
                            alt="1/1<br />For the short story 'Living or Dead' by Rabindranath Tagore."
                            src="img/livingordead_01_thumb.jpg"/>Bokvennen</a>
                </div>


                <!--NYT Magazine / June 2011 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/olbermann_01.jpg"><img
                            alt="1/1<br />Portrait of Keith Olbermann, for The New York Times Magazine."
                            src="img/olbermann_01_thumb.jpg"/>New York Times Magazine</a>
                </div>


                <!--Penguin / Sep 2011 -->
                <div class="item col3 books">
                    <a rel="books" href="img/postmortal_01.jpg"><img
                            alt="1/1<br />For the cover of 'The Postmortal' by Drew Magary, Penguin Books US."
                            src="img/postmortal_01_thumb.jpg"/>Penguin Books US</a>
                </div>

                <!-- A Clockwork Orange / Feb 2011 -->
                <div class="item col3 books">
                    <a rel="books" href="img/penguinaco_01.jpg"><img
                            alt="1/1<br />Book cover for 'A Clockwork Orange' by Anthony Burgess for the Penguin Essentials collection."
                            src="img/penguinaco_01_thumb.jpg"/>Penguin Books UK</a>
                </div>


                <!-- Playstation / july 2011 -->
                <div class="item col2 otherthings">
                    <a rel="otherthings" href="img/playstation_01.jpg"><img alt="1/2<br />Series of 4 images created for a Playstation Theme, commissioned for The Studio by Studio Output." src="img/playstation_01_thumb.jpg" />Sony Playstation</a>
                    <a rel="otherthings" href="img/playstation_02.jpg" alt="2/2<br />Series of 4 images created for a Playstation Theme, commissioned for The Studio by Studio Output."></a>
                </div>


                <!-- Bitch Boys / jan 2012 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/reunion_01.jpg"><img alt="1/1<br />Poster for Bitch Boys' reunion night."
                                                                    src="img/reunion_01_thumb.jpg"/>Bitch Boys</a>
                </div>


                <!--Bokvennen / May 2011 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/ysrael_01.jpg"><img
                            alt="1/1<br />Illustration for the short story 'Ysrael' by writer Junot Diaz, for literary journal Bokvennen."
                            src="img/ysrael_01_thumb.jpg"/>Bokvennen</a>
                </div>


                <!--Bokvennen / May 2011 -->

                <div class="item col3 editorial">
                    <a rel="editorial" href="img/junotdiaz_01.jpg"><img
                            alt="1/1<br />A portrait of writer Junot Diaz, for literary journal Bokvennen."
                            src="img/junotdiaz_01_thumb.jpg"/>Bokvennen</a>
                </div>


                <!--Las Vegas Weekly / May 2011 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/autonomous_01.jpg"><img
                            alt="1/1<br />For a piece on Google developing self-driving cars in the Nevada desert, for The Las Vegas Weekly."
                            src="img/autonomous_01_thumb.jpg"/>Las Vegas Weekly</a>
                </div>


                <!--Angst 4 / Apr 2011 -->
                <div class="item col3 books">
                    <a rel="books" href="img/angst4_01.jpg"><img
                            alt="1/1<br />Cover for anthology of Norwegian comics in English, published by Jippi Comics and No Comprendo Press. I also contributed with a story from my forthcoming comic book."
                            src="img/angst4_01_thumb.jpg"/>Angst 4</a>
                </div>


                <!-- Bitch Boys Kingdom / Feb 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/kingdom_01.jpg"><img alt="1/2<br />Poster for Kingdom."
                                                                    src="img/kingdom_01_thumb.jpg"/>Kingdom</a>
                    <a rel="posters" href="img/kingdom_02.jpg" alt="2/2<br />Poster for Kingdom."></a>
                </div>


                <!-- Wired Warren Ellis / Feb 2011 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/warrenellis_01.jpg"><img
                            alt="1/1<br />For an article by Warren Ellis on technology. Wired Magazine."
                            src="img/warrenellis_01_thumb.jpg"/>Wired</a>
                </div>


                <!-- Skurk Hove / Feb 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/skurkhove_01.jpg"><img alt="1/2<br />Poster for Skurk at Hove Festival."
                                                                      src="img/skurkhove_01_thumb.jpg"/>Skurk</a>
                    <a rel="posters" href="img/skurkhove_02.jpg" alt="2/2<br />Poster for Skurk at Hove Festival."></a>
                </div>


                <!--Las Vegas Weekly / July 2011 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/obesity_01.jpg"><img
                            alt="1/1<br />Kindergarten Obesity, for The Las Vegas Weekly." src="img/obesity_01_thumb.jpg"/>Las
                        Vegas Weekly</a>
                </div>


                <!--New Yorker Drummer / Feb 2011 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/drummer_01.jpg"><img alt="1/1<br />The band Drummer. The New Yorker."
                                                                      src="img/drummer_01_thumb.jpg"/>The New Yorker</a>
                </div>


                <!-- Bitch Boys Treasure Fingers / Feb 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/bbtreasurefingers_01.jpg"><img
                            alt="1/2<br />Poster for BB feat. Treasure Fingers." src="img/bbtreasurefingers_01_thumb.jpg"/>Treasure
                        Fingers</a>
                    <a rel="posters" href="img/bbtreasurefingers_02.jpg"
                       alt="2/2<br />Poster for BB feat. Treasure Fingers."></a>
                </div>


                <!--New Yorker Penny Arcade / Feb 2011 -->
                <div class="item col3 editorial">
                    <a rel="editorial" href="img/pennyarcade_01.jpg"><img
                            alt="1/1<br />Penny Arcade, author and artist. The New Yorker." src="img/pennyarcade_01_thumb.jpg"/>The
                        New Yorker</a>
                </div>


                <!-- BB Pellegrino / Feb 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/soundpellegrino_01.jpg"><img
                            alt="1/2<br />Poster for Sound Pellegrino Label Night." src="img/soundpellegrino_01_thumb.jpg"/>Sound
                        Pellegrino</a>
                    <a rel="posters" href="img/soundpellegrino_02.jpg"
                       alt="2/2<br />Poster for Sound Pellegrino Label Night."></a>
                </div>


                <!-- AOL / Feb 2011 -->
                <div class="item col3 otherthings">
                    <a rel="otherthings" href="img/ballooncrew_01.jpg"><img
                            alt="1/1<br />Artwork created for the AOL website. Commissioned by Wolff Olins New York."
                            src="img/ballooncrew_01_thumb.jpg"/>AOL</a>
                </div>


                <!-- Skurk Captain T / Feb 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/skurkcaptaint_01.jpg"><img alt="1/2<br />Poster for Skurk feat. Captain T."
                                                                          src="img/skurkcaptaint_01_thumb.jpg"/>Skurk</a>
                    <a rel="posters" href="img/skurkcaptaint_02.jpg" alt="2/2<br />Poster for Skurk feat. Captain T"></a>
                </div>


                <!-- Beautiful Decay / Feb 2011 -->
                <div class="item col3 books">
                    <a rel="books" href="img/underdog_01.jpg"><img
                            alt="1/1<br />Spread for a book with the theme 'Underdogs' published by Beautiful Decay."
                            src="img/underdog_01_thumb.jpg"/>Beautiful Decay</a>
                </div>


                <!-- Skurk Anonymus / Feb 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/skurkanonymous_01.jpg"><img alt="1/2<br />Poster for Skurk feat. Anonyomus."
                                                                           src="img/skurkanonymous_01_thumb.jpg"/>Skurk</a>
                    <a rel="posters" href="img/skurkanonymous_02.jpg" alt="2/2<br />Poster for Skurk feat. Anonyomus."></a>
                </div>


                <!-- Bitch Boys Hands Up / Feb 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/handsupintheair_01.jpg"><img
                            alt="1/3<br />Bitch Boys feat. Round Table Knights and Bitch Boys feat. L-vis 1990."
                            src="img/handsupintheair_01_thumb.jpg"/>Bitch Boys</a>
                    <a rel="posters" href="img/handsupintheair_02.jpg"
                       alt="2/3<br />Bitch Boys feat. Round Table Knights and Bitch Boys feat. L-vis 1990."></a>
                    <a rel="posters" href="img/handsupintheair_03.jpg"
                       alt="3/3<br />Bitch Boys feat. Round Table Knights and Bitch Boys feat. L-vis 1990."></a>
                </div>


                <!-- Bitch Boys Klever / Feb 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/bbklever_01.jpg"><img alt="1/2<br />Poster for BB feat. Klever."
                                                                     src="img/bbklever_01_thumb.jpg"/>Klever</a>
                    <a rel="posters" href="img/bbklever_02.jpg" alt="2/2<br />Poster for BB feat. Klever."></a>
                </div>


                <!-- Skurk Escobar / Feb 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/skurkescobar_01.jpg"><img alt="1/2<br />Poster for Skurk feat. Escobar."
                                                                         src="img/skurkescobar_01_thumb.jpg"/>Skurk</a>
                    <a rel="posters" href="img/skurkescobar_02.jpg" alt="2/2<br />Poster for Skurk feat. Escobar"></a>
                </div>

                <!-- Bitch Boys Party / Feb 2011 -->
                <div class="item col3 posters">
                    <a rel="posters" href="img/doublebw_01.jpg"><img
                            alt="1/3<br />Poster for Bitch Boys and Bitch Boys feat. Martelo." src="img/doublebw_01_thumb.jpg"/>Bitch
                        Boys</a>
                    <a rel="posters" href="img/doublebw_02.jpg" alt="2/3<br />Bitch Boys."></a>
                    <a rel="posters" href="img/doublebw_03.jpg" alt="3/3<br />Bitch Boys feat. Martelo."></a>
                </div>

                <!-- INFO BELOW THIS LINE - INFO ALWAYS STAYS AT BOTTOM OF PAGE -->

                <!--Info / Feb 2011 -->
                <div class="item col3 info">
                    <a rel="info" href="img/kristianhammerstad_01.jpg"><img alt="1/1<br />Kristian Hammerstad."
                                                                            src="img/kristianhammerstad_01_thumb.jpg"/>Self
                        portrait</a>
                </div>


                <!-- Bio / Feb 2011 -->
                <div class="item col2 info">
                    <h3>Biography</h3>

                    <p>Kristian Hammerstad is a trained illustrator and self-taught animator. He studied at Central Saint
                        Martins College in the UK.</p>

                    <p>After starting in commercial animation with friends and working for a few years in the UK he now works
                        mainly as an illustrator. Kristian now lives and works in his native Oslo, Norway.</p>

                    <p>Kristian´s client list includes Penguin Books, AOL, The New Yorker, The New York Times Magazine and Wired
                        Magazine.</p>
                </div>


                <!-- Contact / Feb 2011 -->
                <div class="item col2 info">
                    <h3>Contact</h3>

                    <p>Kristian Hammerstad, Oslo, Norway, Europe, Planet Terra, Sol System, Via Lactea Galaxy, Known
                        Universe.</p>

                    <p>Email:<br/><a href="mailto:info@kristianhammerstad.com">info@kristianhammerstad.com</a></p>

                    <p>Telephone:<br/>+47 97686002</p>

                    <p>For jobber i Norge, kontakt min lokale agent <a href="http://byhands.no" target="_blank">byHands</a>.</p>
                </div>


                <!-- Credits / Feb 2011 -->
                <div class="item col2 info">
                    <h3>Credits</h3>

                    <p>Copyright 2011 &#169; Kristian Hammerstad. All rights reserved.</p>

                    <p>Unless otherwise indicated, all materials on these pages are copyrighted. No part of these pages, either
                        text or images may be used for any purpose other than personal use, unless explicit authorisation is
                        given.</p>

                    <p>Therefore reproduction, modification, storage in a retrieval system or retransmission, in any form <br/>or
                        by any means – electronic, mechanical or otherwise, for reasons other than personal use, is strictly
                        prohibited without prior written permission.</p>

                    <p>Website by <a href="http://www.slettenostvold.com" target="_blank">Sletten &amp; Østvold</a>.</p>
                </div>


                <!-- Q and A / Feb 2011 -->
                <div class="item col2 info">
                    <h3>Q:</h3>

                    <p>Hi Kristian, do you sell prints or posters?</p>

                    <h3>A:</h3>

                    <p>I do have a small selection of posters for sale through this website: <a
                            href="http://www.weoccupy.co.uk/" target="_blank">weoccupy.co.uk</a>.</p>

                    <p>Limited screen prints also available from <a href="http://steinslandberliner.blogspot.com/"
                                                                    target="_blank">Galleri Steinsland Berliner</a>.</p>
                </div>


                <div class="item col2 info">
                    <h3>Facebook</h3>

                    <p>Follow me on <a
                            href="http://www.facebook.com/pages/Kristian-Hammerstad/207070655980666#!/pages/Kristian-Hammerstad/207070655980666?sk=wall"
                            target="_blank">Facebook</a> for news, updates and other things that don't make it to my website.
                    </p>
                </div>

                <!-- EDIT PROJECTS FROM HERE UP ONLY! - DO NOT EDIT BELOW THIS LINE -->
            </div>
        </div><!-- /#page-content -->
    </div><!-- /#page-wrapper -->
</div><!-- /#page-container -->

<!-- CONFIG EXAMPLE -->
<script src="config.js"></script>
<script data-main="../dist/js/components/home" src="../dist/js/vendor/require.js"></script>
</body>
</html>