<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../dist/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="http://code.famo.us/famous-angular/latest/famous-angular.min.css" rel="stylesheet" type="text/css"/>
    <link href="../dist/css/arxmin.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-shim.min.js"></script>
    <![endif]-->
    <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
        display: none !important;
    }</style>
</head>
<body class="private page-admin">
<body  class="private page-admin">


<div id="page-container">
    <nav class="navbar navbar-default navbar-fixed-top" id="page-header">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img class="animated fadeIn" src="../dist/img/logo-b.png" height="50px" alt="" />
            </a>
            <button type="button" class="navbar-toggle" ng-click="$parent.displaySidebar = !$parent.displaySidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right animated fadeIn">
                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" dropdown-toggle>
                        <span class="visible-xs"><i class="fa fa-fw fa-user"></i></span>
                        <span class="hidden-xs">admin2 admin <span class="caret"></span></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://local./private/edit-user">Preferences</a>
                        </li>
                        <li>
                            <a href="/user/logout">Se déconnecter</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
    <div class="row">
        <div class="side-menu-container col-sm-2">
            <aside class="sidebar sidebar-fixed-left navbar-spy" id="page-sidebar" ng-controller="SidebarController as sidebar" ng-cloak>
                <ul class="nav nav-pills nav-stacked animated fadeIn">
                    <li ng-repeat="item in sidebar.menu track by $index" ng-class="{true: 'active'}[sidebar.isActive(item)]">
                        <a ng-href="{{ item.link }}" ng-if="item.link" target="{{ item.target || '_self' }}">
                            <i class="fa {{ item.ico }} fa-lg fa-fw" ng-if="item.ico"></i>
                            <span>{{ item.name }}</span>
                        </a>


                        <button class="toggle-collapse" type="button" ng-init="item.isMenuCollapsed = !sidebar.isActive(item)"
                                ng-if="item.children && item.link"
                                ng-click="item.isMenuCollapsed = !item.isMenuCollapsed">
                            <span ng-show="item.isMenuCollapsed">+</span>
                            <span ng-show="!item.isMenuCollapsed">-</span>
                        </button>

                        <a href="#" ng-init="item.isMenuCollapsed = !sidebar.isActive(item)" ng-if="item.children && !item.link"
                           ng-click="item.isMenuCollapsed = !item.isMenuCollapsed">
                            <i class="fa {{ item.ico }} fa-lg fa-fw" ng-if="item.ico"></i>
                            <span>{{ item.name }}</span>

                            <span class="pull-right" ng-show="item.isMenuCollapsed">+</span>
                            <span class="pull-right" ng-show="!item.isMenuCollapsed">-</span>
                        </a>

                        <ul class="nav" collapse="item.isMenuCollapsed" ng-if="item.children">
                            <li ng-repeat="child in item.children" ng-class="{true: 'active'}[sidebar.isActive(child)]">
                                <a ng-href="{{ child.link }}">
                                    <i class="fa {{ child.ico }} fa-fw" ng-if="child.ico"></i>
                                    <span>{{ child.name }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div><!-- /.navbar-collapse -->

        <section  class="content container-fluid animated fadeIn col-sm-offset-2 vert-offset-top-3" id="page-content">
            <div class="container-fluid">
                    <ul class="breadcrumb">
                        <li>
                            <p><i class="fa fa-home"></i></p>
                        </li>
                        <li><a href="#" class="active">Reporting example</a></li>
                    </ul>
                    <div class="page-title">
                        <h3><i class="fa fa-angle-right"></i> Reporting example</h3 >
                    </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="grid simple">
                            <div class="grid-title no-border">
                                <h4>Flot <span class="semi-bold">Charts</span></h4>
                                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                            </div>
                            <div class="grid-body no-border">
                                <h3>Flot <span class="semi-bold">Charts</span></h3>
                                <p>Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks and interactive features.</p>
                                <br>
                                <div id="placeholder" class="demo-placeholder" style="width:100%;height:250px;"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mini-chart-wrapper">
                                            <div class="chart-details-wrapper">
                                                <div class="chartname"> New Orders </div>
                                                <div class="chart-value"> 17,555 </div>
                                            </div>
                                            <div class="mini-chart">
                                                <div id="mini-chart-orders"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mini-chart-wrapper">
                                            <div class="chart-details-wrapper">
                                                <div class="chartname"> My Balance </div>
                                                <div class="chart-value"> $17,555 </div>
                                            </div>
                                            <div class="mini-chart">
                                                <div id="mini-chart-other" ></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="grid simple">
                            <div class="grid-title no-border">
                                <h4>Sparkline <span class="semi-bold">Charts</span></h4>
                                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                            </div>
                            <div class="grid-body no-border">
                                <div class="row-fluid">
                                    <h3>Sparkline <span class="semi-bold">Charts</span></h3>
                                    <p>The plugin is compatible with most modern browsers and has been tested with Firefox 2+, Safari 3+, Opera 9, Google Chrome and Internet Explorer 6, 7, 8, 9 & 10 as well as iOS and Android. </p>
                                </div>
                            </div>
                            <div class="tiles white no-margin"> <br>
                                <br>
                                <br>
                                <span id="mysparkline"></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- CONFIG EXAMPLE -->
<script src="config.js"></script>
<script data-main="../dist/js/components/home" src="../dist/js/vendor/require.js"></script>
</body>
</html>