/**
 * Arxmin
 *
 * SASS Document - ~/scss/mixins.scss - Mixins
 *
 * @author Daniel Sum <daniel@cherrypulp.com>
 *
 */

@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins";

/**
 * Typography
 */
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

/**
 * Animation
 */
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
       -moz-animation-duration: $duration;
         -o-animation-duration: $duration;
            animation-duration: $duration;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
       -moz-animation-delay: $delay;
         -o-animation-delay: $delay;
            animation-delay: $delay;
    -webkit-transition-delay: $delay;
       -moz-transition-delay: $delay;
         -o-transition-delay: $delay;
            transition-delay: $delay;
}

@mixin animation-name($name) {
    -webkit-animation-name: $name;
       -moz-animation-name: $name;
         -o-animation-name: $name;
            animation-name: $name;
}

@mixin animation-timing-function($timing) {
    -webkit-animation-timing-function: $timing;
       -moz-animation-timing-function: $timing;
         -o-animation-timing-function: $timing;
            animation-timing-function: $timing;
}

@mixin transform($content) {
    -webkit-transform: $content;
       -moz-transform: $content;
         -o-transform: $content;
            transform: $content;
}

/**
 * Selection
 */
@mixin selection($background, $color: $text-color) {
    &::selection {
        background: $background;
        color: $color;
    }

    &::-moz-selection {
        background: $background;
        color: $color;
    }
}

